*{
    margin: 0;
    padding: 0;
}

body{
   display: flex;
   flex-direction :column;
   color: whitesmoke;
   font-family:'Space Mono', monospace;
   gap: 1rem; 
   background-image: url(giphy.gif);
   background-repeat: no-repeat;
   webkit-background-size: cover;
   moz-background-size: cover;
   o-background-size: cover;
   background-size: cover;
   
}

#myCanvas {
    width: 1000px;
    height: 600px;
    border: 5px solid rgb(10, 10, 10);
    margin-left:24rem;
    background-color: rgb(255, 255, 255);
    opacity:0.80;
    border-radius: 10px;
}
h1{
    font-size:4rem;
    text-align: center;
    font-family:'Space Mono', monospace;
    font-weight:bolder; 
    text-shadow:3px 6px 2px rgb(0, 0, 0);   

}
.fa-robot{
    width:100px;
    height:100px;
    color:rgb(232, 230, 235);
}

#posContainer{
    display: flex;
    margin-left:39rem;
    font-size:1.2rem

    
}

#navButton{
    margin-left:41rem;
 
}

#moveButton , #rotateButton , #reset{
   width: 150px;
   height:50px; 
   font-weight: bold;
   font-size: large;
   border:2px solid white ;

}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}